@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.hamdivstyle {
    background-color: #111;
}
body {
  overflow-x: hidden;

}
nav {
  height: 4rem;
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 10;
  font-weight: 300;
  transition: 0.2s ease-in-out;
}

.logo {
  padding: 1vh 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  width: 25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
.logo h3{
  font-family: 'Russo One', sans-serif;
  letter-spacing: 2px;
}
.logo img {
  width: 30px;
  height: 33px;
  margin: 5px;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 90vw;
  padding-right: 2vw;
  justify-content: flex-end;
  align-items: center;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 1.7vw;
  color: #fff;
  font-family: sans-serif;
}
.nav-links li a:hover {
  color: #e1dc6b;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  top: 25px;
  background-color: #fff;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before {
  width: 80%;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .logo {
    padding: 1vh 5vw;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  /* colorDeRespon */
  .nav-links {
    position: fixed;
    background: #8a8898; 
    opacity: 0.7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    clip-path: circle(50px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .open {
    overflow: hidden;
  }
  .nav-links li a {
    color: #fff;
    font-size: 26px;
  }
  .nav-links li {
    opacity: 0.9;
    margin: 2rem;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
  
  

}
/*Animating Hamburger Icon on Click*/
.toggle #line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle #line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle #line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/*SliderShow Publicidad*/

/*footer */
footer {
  background-color: #000;
}
footer .redes-sociales {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
}
footer h2{
  color: #fff;
  text-align: center;
  padding-top: 3px;
}
footer p{
  color: #fff;
  text-align: center;
}
footer .redes-sociales a {
  display: block;
  width: 60px;
  height: 60px;
  background: #000;
  color: #fff;
  margin: 20px;
  text-align: center;
  border-radius: 100px;
  transition: .3s ease all;
}
footer .redes-sociales .instagram {background: #de1b85;}
footer .redes-sociales .whatsapp {background: #4AC959;}
footer .redes-sociales .youtube {background: #c4302b;}
footer .redes-sociales .facebook {background: #3b5998;}
footer .redes-sociales a i {
  font-size: 35px;
  line-height: 60px;
}
footer .contenedor-icono:hover a {
  animation: icono .5s ease;
}
@keyframes icono {
  from {
    transform: rotate3d(0,0,0,0);
  }
  to {
    transform: rotate3d(0,1,0, 360deg);
  }
}

@media screen and (max-width: 600px) {
  .periodico {
    padding: 0;
    display: none;
  }
}

/* Cards */
.home {
  background: url(img/microBlanco.jpg);
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  width: 100%;
	height: 100%;
  background-size: cover;
  min-height: 100vh;
}
.home:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,6);
  opacity: 0.3;
}


.home div h4 {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: justify;
	top: 300px;
	color: #fff;
}
.perfil {
	width: 100%;
	height: 100%;
	background: url(img/FondoPerfil.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  padding: 40px;
}
.perfilOne img {
	width: 30%;
	height: 30%;
	border-radius: 50%;
	padding: 50px;
}

.perfil .perfil-texto p {
	width: 600px;
	height: 130px;
	color: #fff;
	text-align: justify;
	font-size: 20px;
	
}
.perfil a {
	font-family: consolas;
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s;
}
.perfil a:hover {
	color: #fff;
	background: #CA7715;
	box-shadow: 0 0 10px #CA7715, 0 0 40px #CA7715, 0 0 80px #CA7715;
	transition-delay: 1s;
}
.perfil a span {
	position: absolute;
	display: block;
}
.perfil a span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#2196f3)
}
.perfil a:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}
.perfil a span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#2196f3)
}
.perfil a:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
.perfil a span:nth-child(2){
	top: -100%;
	right:  0%;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#2196f3)
}
.perfil a:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.perfil a span:nth-child(4){
	bottom: -100%;
	left: 0%;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#2196f3)
}
.perfil a:hover span:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}
/* video <div class="video">
			<video loading="lazy" src="img/video.mp4" autoplay muted loop></video>
		</div> */
.video {
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.contenedor {
  max-width: 1200px;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor h2, h5{
	font-family: 'Roboto', sans-serif;
	position: sticky;
	bottom: 10px;
	color: #FFF;
}

/*Button Audio Inicio*/
button {
	padding: 15px 15px;
	font-size: 22px;
	line-height: 40px;
	min-width: 100px;
	text-align: center;
	cursor: pointer;
	background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
	color: #fff;
	border-radius: 50%;
	border:0px;
	height: 100px;
	opacity: .6;
	outline: none;
}
button::before {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 70px;
	height: 70px;
	border:2px solid #fff;
	content: "";
	border-radius: 50%;
	animation: one 2s infinite;
	transition: .4s;
}
button::after {
	position: absolute;
	left: -12px;
	top: -12px;
	width: 90px;
	height: 90px;
	border:1px solid #fff;
	content: "";
	border-radius: 50%;
	animation: two 2s infinite;
}
@keyframes one{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1.2);
	}
}
@keyframes two{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1.2);
	}
}

/* New cards */
.thecontainer {
  position: relative;
  
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  margin: 20px;
}
.thecontainer .card{
  position: relative;
  height: 250px;
  background-color: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
}

.thecontainer .card .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3D7EAA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  z-index: 1;
  display: flex;
  justify-content:center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-radius:10px;

}
.thecontainer .card:hover .imgBx{
  width: 200px;
  height: 200px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.thecontainer .card .imgBx:before{
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;

  text-align: center;
  font-size: 5em;
  color: rgba(255,255,255,0.5);
  font-weight:700;

}

.thecontainer .card .imgBx img {
  max-width: 200px;
  transition: 0.5s ease-in-out;
  border-radius:10%;
}
.thecontainer .card:hover .imgBx img {
  max-width: 75px;
  content: none;
}
.thecontainer .card .thecontent {
  position: absolute;
  right: 0;
  width: 100%;
  padding: 20px;
  display:flex;
  justify-content:center;
  align-items:center;
  background: #00bf8f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius:10px;

}
.thecontainer .card .thecontent h3 {
  margin-bottom:5px;
  font-size:24px;
}
.thecontainer .card .thecontent a {
  display: inline-block;
  margin-top: 10px;
  padding:5px 10px;
  background: #333;
  text-decoration: none;
  color: #fff;
}

.card .imgBx .bx {
 
  color: #fff;
  font-size:40px;
}

@media (max-width:992px) {
  .thecontainer{
    
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .thecontainer .card {
    width:400px;
  }
  @media (max-width: 768px){
    .carrusel {
      overflow: hidden;
    }
 
  }
}

.fondo_tarjetas {
  background:#000;
  padding:0;
  margin:0;
}
.fondo_tarjetas .card{
  background:#000;
}

@media (max-width: 768px){
  .thecontainer .card{
    max-width:300px;
    flex-direction: column;
    height:auto;
    
  }

  .thecontainer .card .imgBx{
    position: relative;
  }
  .thecontainer .card .imgBx,
  .thecontainer .card:hover .imgBx{
    width: 100%;
    height: 200px;
    left: 0;
  }
  .thecontainer .card .imgBx img,
  .thecontainer .card:hover .imgBx img{
    max-width: 100px;
  }
  .thecontainer .card .thecontent{
    position: relative;
    width: 100%;
  }
  
  @media (max-width: 768px){
    .carrusel {
      overflow: hidden;
    }
 
  }
}


@media (max-width: 768px){
  .perfil .perfil-texto p {
    height: 100px;
    width: 100%;
  }
}

.mejor{
  background-color: #fff;
}


.carrusel{
  height:250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  
}
.carrusel-track {
  display:flex;
  width:calc(250px * 8);
  animation: scroll 40s linear infinite;
}

.carrusel-track:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4))
  }
}

.carrusel-slide {
  height:200px;
  width:250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective:100px;
}

.carrusel-slide img {
  width: 100%;
  transition: transform 1s;
}
.carrusel-slide img:hover {
  transform: translateZ(20px)
}


.carrusel::before {
  left: 0;
  top: 0;
}

.carrusel::after {
  right: 0;
  top: 0;
  transition: rotateZ(180deg)
}

/* campeonato */
/* From uiverse.io by @adamgiebl */
.boton-campeonato {
  display: flex;
  
  justify-content:center;
  align-items: center;
  align-content: center;
  padding:20px;
}

/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button {
  background: #7f7d82;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
 }
 
 .cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #110d16;
  right: 0.3em;
  transition: all 0.3s;
 }
 
 .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
 }
 
 .cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
 }
 
 .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
 }
 
 .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
 }

 .cssbuttons-io-button .bx-football{
   color: #000;
 }

 
