@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  .hamdivstyle {
      background-color: #111;
}
.home div h4 {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: justify;
	top: 300px;
	color: #fff;
}
.perfil {
	width: 100%;
	height: 100%;
	background: url(img/FondoPerfil.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.perfil img {
	width: 600px;
	height: 550px;
	border-radius: 50%;
	padding: 50px;
}
.perfil-texto {
	display: inline-block;
	justify-content: right;
	padding: 5px;
}
.perfil div p {
	width: 600px;
	height: 130px;
	color: #fff;
	text-align: right;
	font-size: 20px;
	padding-top: 10px;
}
.perfil a {
	font-family: consolas;
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s;
}
.perfil a:hover {
	color: #fff;
	background: #CA7715;
	box-shadow: 0 0 10px #CA7715, 0 0 40px #CA7715, 0 0 80px #CA7715;
	transition-delay: 1s;
}
.perfil a span {
	position: absolute;
	display: block;
}
.perfil a span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#2196f3)
}
.perfil a:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}
.perfil a span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#2196f3)
}
.perfil a:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
.perfil a span:nth-child(2){
	top: -100%;
	right:  0%;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#2196f3)
}
.perfil a:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.perfil a span:nth-child(4){
	bottom: -100%;
	left: 0%;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#2196f3)
}
.perfil a:hover span:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}
.video {
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.contenedor {
  max-width: 1200px;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor h2, h5{
	font-family: 'Roboto', sans-serif;
	position: sticky;
	bottom: 10px;
	color: #FFF;
}
.contenedor_tarjeta {
	margin: 20px;
}
.contenedor_tarjeta a {
	display: inline-block;
}
.contenedor_tarjeta:hover figure {
  -webkit-transform: perspective(600px) rotateY(180deg);
  -ms-transform: perspective(600px) rotateY(180deg);
  -o-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}
.contenedor_tarjeta:hover figure img {
	/*filter: blur(2px);*/
}
figure .frontal,
figure .atras {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}
figure {
	width: 300px;
	height: 350px;
	margin: 0;
	position: relative;
	transition: all ease .7s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}
figure .frontal {
	display: block;
	/*backface-visibility:*/ 
}
figure .atras {
	position: absolute;
	top: 0;
	padding: 20px;
	font-family: 'Roboto';
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}
.contenedor_tarjeta:nth-child(1) figure .atras{
	background: rgba(170,163,153,1);
	background: -moz-linear-gradient(45deg, rgba(170,163,153,1) 0%, rgba(226,176,113,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(170,163,153,1)), color-stop(100%, rgba(226,176,113,1)));
	background: -webkit-linear-gradient(45deg, rgba(170,163,153,1) 0%, rgba(226,176,113,1) 100%);
	background: -o-linear-gradient(45deg, rgba(170,163,153,1) 0%, rgba(226,176,113,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(170,163,153,1) 0%, rgba(226,176,113,1) 100%);
	background: linear-gradient(45deg, rgba(170,163,153,1) 0%, rgba(226,176,113,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaa399', endColorstr='#e2b071', GradientType=1 );
}
.contenedor_tarjeta:nth-child(2) figure .atras{
	background: rgba(195,184,183,1);
	background: -moz-linear-gradient(left, rgba(195,184,183,1) 0%, rgba(121,69,88,0.67) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(195,184,183,1)), color-stop(100%, rgba(121,69,88,0.67)));
	background: -webkit-linear-gradient(left, rgba(195,184,183,1) 0%, rgba(121,69,88,0.67) 100%);
	background: -o-linear-gradient(left, rgba(195,184,183,1) 0%, rgba(121,69,88,0.67) 100%);
	background: -ms-linear-gradient(left, rgba(195,184,183,1) 0%, rgba(121,69,88,0.67) 100%);
	background: linear-gradient(to right, rgba(195,184,183,1) 0%, rgba(121,69,88,0.67) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3b8b7', endColorstr='#794558', GradientType=1 );
}
.contenedor_tarjeta:nth-child(3) figure .atras{
	background: rgba(182,192,212,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(182,192,212,1) 0%, rgba(39,48,66,0.67) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(182,192,212,1)), color-stop(100%, rgba(39,48,66,0.67)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(182,192,212,1) 0%, rgba(39,48,66,0.67) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(182,192,212,1) 0%, rgba(39,48,66,0.67) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(182,192,212,1) 0%, rgba(39,48,66,0.67) 100%);
	background: radial-gradient(ellipse at center, rgba(182,192,212,1) 0%, rgba(39,48,66,0.67) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c0d4', endColorstr='#273042', GradientType=1 );
}
figure .atras .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}
figure .atras hr{
	height: 2px;
	background-color: #fff;
	border: none;
	margin-bottom: 100px;
	opacity: .7;
}
figure .atras p {
	line-height: 22px;
	font-size: 16px;
}

